{% extends "base.html" %}
{% load static %}
{% block content %}
    {% spaceless %}

        <h1 class="pubs">Публікації</h1>
        <br />
        {% if category %}{{ category }}{% endif %}
        {% for item in items %}
            <div class="articles-row">
                <a href="{{ item.get_absolute_url }}">
                    <h4>{{ item.title }}</h4>
                </a>
                <h5>{{ item.pub_date|date:"j E Y"|safe|linebreaks }}</h5>
                <p class="article-desc">
                    {{ item.description|safe|escape|striptags|truncatewords_html:32 }}
                </p>
                <div class="container-image">
                    <img class="img" src="{{ item.images.all.0.image.url }}" alt=""/>
                </div>
                <div class="clearfix"></div>
            </div>
        {% endfor %}
    {% endspaceless %}
{% endblock %}
